<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>getProfiles?uid=%%0%%</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadUserProfileForUID:completitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadUserProfileForUID:completitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>cacheDisabled</key>
			<string>yes</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCache</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadUserProfileForUID:completitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Accept</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadUserProfileForUID:completitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Content-Type</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadUserProfileForUID:completitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>prototypeClass</key>
			<string>VKDUserWrapper</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadUserProfileForUID:completitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>friends.get?fields=status</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadListOfFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadListOfFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>cacheDisabled</key>
			<string>yes</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCache</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadListOfFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Accept</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadListOfFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Content-Type</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadListOfFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>prototypeClass</key>
			<string>VKDUserWrapper</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadListOfFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>friends.get?fields=photo</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadPhotoForFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadPhotoForFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>cacheDisabled</key>
			<string>yes</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCache</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadPhotoForFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Accept</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadPhotoForFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Content-Type</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadPhotoForFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>prototypeClass</key>
			<string>VKDUserWrapper</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadPhotoForFriendsWithCompletitionBlock:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>validCodes</key>
			<array>
				<string>NSRange:{200, 100}</string>
			</array>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceClientStatusCodes</string>
		<key>attributeType</key>
		<string>class</string>
		<key>targetName</key>
		<string>ESDWebServiceClient</string>
	</dict>
</array>
</plist>
