<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>dataObject</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseRelation</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>dataObject</string>
	</dict>
	<dict>
		<key>attributeName</key>
		<string>ESDUniqueAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>baseURLHash</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>baseURLHash</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>baseURLHash</string>
	</dict>
	<dict>
		<key>attributeName</key>
		<string>ESDUniqueAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>fullURLHash</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>fullURLHash</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>fullURLHash</string>
	</dict>
	<dict>
		<key>attributeName</key>
		<string>ESDUniqueAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>bodyData</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>bodyData</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>bodyData</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>ESDWebServiceCacheObjectKey</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseEntity</string>
		<key>attributeType</key>
		<string>class</string>
		<key>targetName</key>
		<string>ESDWebServiceCacheObjectKey</string>
	</dict>
</array>
</plist>
