<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>firstName</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>firstName</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>first_name</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>firstName</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>lastName</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>lastName</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>last_name</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>lastName</string>
	</dict>
	<dict>
		<key>attributeName</key>
		<string>ESDUniqueAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>uid</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>uid</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>uid</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>uid</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>uid</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>online</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>online</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>online</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>online</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>user_id</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>user_id</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>user_id</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>user_id</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>deactivated</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>deactivated</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>deactivated</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>deactivated</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>photo</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>photo</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>photo</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>photo</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>status</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseAttribute</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>status</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>status</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>status</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>User</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseEntity</string>
		<key>attributeType</key>
		<string>class</string>
		<key>targetName</key>
		<string>VKDUser</string>
	</dict>
	<dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>class</string>
		<key>targetName</key>
		<string>VKDUser</string>
	</dict>
</array>
</plist>
