<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>response</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>users</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>VKDUser</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializableCollection</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>users</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>users</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseRelation</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>users</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>error</string>
		</dict>
		<key>attributeName</key>
		<string>ESDSerializable</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>error</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>UserWrapper</string>
		</dict>
		<key>attributeName</key>
		<string>ESDDatabaseEntity</string>
		<key>attributeType</key>
		<string>class</string>
		<key>targetName</key>
		<string>VKDUserWrapper</string>
	</dict>
</array>
</plist>
